@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hide{
        display: none;
    }
    .navitem, .btn{
        font-size: 17px;
    }
    .Download{
        height: 15px;
    }
    .uhide{
        display: inline;
    }
    .hero {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .content h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .hcontainer h3 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .socials {
        font-size: 1.5rem;
    }

    .socials p {
        display: none;
    }

    .socials i.mail-icon {
        display: inline-block;
    }

    .title {
        font-size: 20px;
    } .aboutme {
        grid-template-columns: 1fr;
    }
    .aboutme div {
        margin: auto;
        max-width: 85%;
    }
}
