body {
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: #f0f0f0;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('/assets/clash-display/ClashDisplayRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplayBold';
    src: url('assets/clash-display/ClashDisplaySemibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

/*Header Section*/
header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("./assets/background.png") center / cover no-repeat;
}

/*Nav Section*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.489);
}

.logo {
    padding-left: 20px;
    height: 45px;
}

.navitem {
    padding: 10px 20px;
    font-family: 'ClashDisplay';
    font-size: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    font-family: 'ClashDisplayBold';
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.Download {
    padding-left: 10px;
}

/*Hero Section*/
.hero{
    height: fit-content;
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: 'ClashDisplay';
}

.content h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
}

.hcontainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.hcontainer h3 {
    font-size: 2rem;
}

.hcontainer img {
    height: 90px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.uhide{display: none;}
.socials {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    font-size: 2rem;
}
.socials a{
    color: white;
    text-decoration: none;
}

.socials p {
    padding-left: 5px;
}


/* Section*/
.title{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-family: 'ClashDisplaybold';
    text-align: center;
    font-size: 25px;
}
.titleimg{
    height: 45px;
}

/* Contact Section */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    font-family: 'ClashDisplay';
    margin: 0 auto;
    color: #fff;
    padding: 4rem;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.0);
    font-family: 'ClashDisplay';
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 20px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-family: 'ClashDisplay';
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #ddd;
}

/* Footer Section */
footer div{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("./assets/background.png") center / cover no-repeat;
    font-size: 15px;
    font-family: 'ClashDisplay';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    height: 30px;
}
.skill {
    text-align: center;
    margin: 20px 0;
  }
  
  .skillimg {
    width: 95%;
    height: auto;
  }
  